html, body {
  height: 100%;
  margin: 0;
}
body {
  overflow: hidden;
  background-color: #ffffff;
  color: #000000;
}
body.dragging {
  cursor: grabbing;
}
body.dragging * {
  user-select: none;
  pointer-events: none;
}
